body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100vh;
    font-family: 'Anonymous Pro', monospace;
    text-align: center;
    background-color: rgb(20, 13, 9);
}

h1{
    font-size: 6vw;
    color: rgb(193, 187, 160);}

h1::before {
     content: attr(data-before);
     opacity: 0.5;
 }

h1::after {
     content: attr(data-after);
     word-break: break-all;
     opacity: 0.5;
 }
