* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background: #1d2b3a;
}

.inputBox {
    display: flex;
    position: relative;
    width: 250px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}

.inputBox span {
    position: absolute;
    left: 0;
    margin-left: 20px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    background: #1d2b3a;
    padding: 0 10px;
    top: -5px;
    font-size: 0.8em;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
}

/*~의 뜻은 input:valid(focus)가 되고나서의 span을 지정합니다*/
/*https://homzzang.com/b/css-4*/

.inputBox input:valid,
.inputBox input:focus {
border: 1px solid #00dfc4;
}
